[Unit]
Description=Google Domains DDNS Auto Updater
After=user@1000.service

[Service]
ExecStart=<your python3 location>python3 google-ddns-update.py
WorkingDirectory=<your location>
StandardOutput=inherit
StandardError=inherit
Restart=always
User=deepak

[Install]
WantedBy=multi-user.target
